ngx-avatar{
    display:inline-block;
}


    
  .bar{
    width:650px;
    background:white;
    box-shadow:0 0 5px hsl(0 0% 78%);
    height:55px;
    border-radius:100vw;
    display:flex;
    justify-content:center;
  }

  
  
  .bar div{
    border-radius:inherit;
    padding:0.8rem 1.5rem;
    transition:background 250ms ease;
  }
  
  .bar div:hover{
    background:hsl(0 0% 94%);
  }
  
  .location{
    width:50%;
  }
  .check-in, .guests{
    width:50%;
  }
  
  input[type="text"]{
    background:none;
    border:none;
    padding:0.2rem 0 0 0;
  }
  
  input[type="text"]:focus{
    outline:none;
  }

  
  .guests{
    position: relative;  
  }
  .guests span{
    position:absolute;
    top:50%;
    right:20px;
    transform:translateY(-50%);
    background:#FF385C;
    color:white;
    font-size:0.7rem;
    padding:0.7rem;
    border-radius:50%;
  }
  
  .bar>div{
    position:relative;
  }
  
  
  .bar>div::before{
    position:absolute;
    content:"";
    left:0;
    top:50%;
    transform:translateY(-50%);
    width:1px;
    height:55%;
    background:hsl(0 0% 90%);
  }
  
  .bar>div:nth-of-type(1)::before{
     background:transparent;
  }
  
  
  .bar>div:hover::before{
    background:transparent;
  }

  ngb-carousel .wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; /* Keep ratio for 900x500 images */
  }
  
  ngb-carousel .wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  
  
  