
<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="row align-items-center">
                <div class="col-4">
                    <!-- <button [routerLink]="['/dashboard']" class="btn btn-default btn-link h5">
                        <i class="fas fa-arrow-circle-left"></i> &nbsp; back</button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" >
<!--             <div class="card">
 
                    <div class="form-group" [ngClass]="{ 'input-group-focus': focus === true }">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input #search type="text" style="padding:8px;width:50%;" class="form-control"
                                placeholder="Search" (keyup)="SearchItems($event)" (blur)="focus = false"
                                (focus)="focus = true" />
                        </div>
                    </div> 
                
            </div> -->

            <div *ngIf="loading" class="text-center">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <ng-container *ngIf="!loading">
                <div class="card" *ngIf="challengesRecords?.length == 0">
                    <div class="card-body">
                        <ul class="list-unstyled challenge-members">
                            <li>
                                <div class="text-center">
                                    <div class="author">
                                        <h5 class="description">no Advertisements</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row grid">
                    <ng-container *ngFor="let challenge of challengesRecords; let i = index">
                      <div class="col-sm-6 col-md-6 col-xl-3 mb-1 mb-md-0">
                        <a *ngIf="challenge.active" (click)="goToChallenge(challenge)" >
                        <div class="advertisement-card">
                          <div class="image-top">
                            <img src="{{ challenge.image }}" alt="Advertisement Image" style="border-radius: 10px;height: 350px; max-width: 100%;" />
                          </div>
<!--                           <div class="status">
                            <span class="status-text" [ngClass]="{ 'text-success': challenge.active, 'text-danger': !challenge.active }">
                              {{ challenge.active ? 'Active' : 'Inactive' }}
                            </span>
                          </div> -->
                          <div class="actions" *ngIf="challenge.creator === user && isUserManager">
                            <div class="dropdown">
                              <button class="action-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" (click)="activateDeactivateChallenge(challenge)">
                                  {{ challenge.active ? 'Deactivate Advertisement' : 'Activate Advertisement' }}
                                </a>
                                <a class="dropdown-item" (click)="editChallenge(challenge)">Edit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item bg-danger" (click)="deleteChallenge(challenge)">Delete</a>
                              </div>
                            </div>
                          </div>
                          <div class="card-body">
                            <h5 class="advertisement-title" style="font-weight: bold;">{{ challenge.name }}</h5>
                            <div class="advertisement-details">
                              <p class="deadline">
                                <i class="fas fa-calendar-day" style="color: #717171;"></i> {{ challenge.publishedAt }} - {{ challenge.deadline }}
                              </p>
                              <p class="published-by" style="color: #717171;">
                                <i class="fas fa-user" ></i> Published by {{ challenge.creatorName }} 
                              </p>
                              <p class="published-by" style="font-weight: bold;">
                                <i class="fa-duotone fa-euro-sign"></i> € {{ challenge.overview }} hour
                              </p>
                            </div>
<!--                             <div class="description">
                              <p class="text-center">{{ challenge.abstract }}</p>
                              <a *ngIf="challenge.active" (click)="goToChallenge(challenge)" class="view-button">
                                View Advertisement <i class="fas fa-arrow-circle-right"></i>
                              </a> 
                            </div> -->
                          </div>
                        </div>
                        </a>
                      </div>
                    </ng-container>
                  </div>
                  
            </ng-container>
        </div>
    </div>
</div>