<header class="main-layout full">
    <div class="logo">
        <img src="https://res.cloudinary.com/du63kkxhl/image/upload/v1681629704/logo_smny53.png" alt="">
        <h2>airbnb</h2>
    </div>
    <button class="login-button" (click)="LoginPage()">Login</button>
</header>