body, header, div, h2, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Layout */
.main-layout {
    display: flex;
    align-items: center;
    height: 60px; /* Adjust the height as needed */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 20px; /* Adjust the padding as needed */
}

/* Logo Container */
.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    color:  #ff5a5f;
    font-size: 15px;
    font-weight:bolder;
    font-family: 'Poppins', sans-serif;
}

.logo img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; 
    justify-content: left;/* Adjust the height as needed */
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #ff5a5f;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    margin: 85%;
}

.login-button:hover {
    background-color: #d3373a; /* Adjust the color on hover as needed */
}

/* Optional: Add responsive styles for different screen sizes */
@media (max-width: 767px) {
    .logo {
        font-size: 20px;
    }
}