@media only screen and (min-width: 500px) {
  .profile-column {
    width: 470px;
    padding-left: 15px;
  }

  /* .info-column {
      width: 150px;
      padding-left: 15px;
   }  */
}

@media only screen and (max-width: 499px) {
  .profile-column {
    width: 330px;
    padding-left: 15px;
  }

  /* .info-column {
    width: 150px;
    padding-left: 15px;
 }  */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ff00d7 !important;
}

.ng-autocomplete {
  width: 100% !important;
  padding: 0px !important;
}

.image-container {
  width: 200px; /* Adjust the width and height according to your needs */
  height: 200px;
  border-radius: 50%; /* This will create a circular shape */
  overflow: hidden; /* This will hide any image parts outside the circular container */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image fills the circular container */
}
/* .swiper>img {
   width: 100%;
   height: auto;
   object-fit: cover;
   object-position: center;
} */

/* .multiselect-dropdown .dropdown-btn {
   display: inline-block;
   border: 1px solid #adadad;
   color: #ff00d7;
   width: 100%;
   padding: 6px 12px;
   margin-bottom: 0;
   font-size: 12px;
   font-weight: 400;
   line-height: 1.1;
   text-align: left;
   vertical-align: middle;
   cursor: pointer;
   background-image: none;
   border-radius: 4px;
} */
