<div class="main-content">
  <div class="row">
    <div class="col">
      <div class="card">
        <nav class="navbar bg-primary text-white">
          <h5 class="mt-3 ml-3 card-title text-uppercase">Profile Settings
          </h5>
        </nav>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="profile-column">
      <div class="card card-user bg-hr">
        <div class="image">
          <img src="./assets/img/bg/tobias-rademacher-iLftQa2byYU-unsplash.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <div class="dropdown">
              <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" placement="top"
                ngbTooltip="Update Profile Picture" aria-haspopup="true" aria-expanded="false">
                <img class="image-container border-gray" src="{{user.avatar}}" alt="...">
              </a>
              <div class="dropdown-menu dropdown-menu-right border" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-header">Profile Picture</div>
                <a class="dropdown-item" (click)="uploadProfilePicture()">Upload Picture</a>
                <a *ngIf="isTherePicture" class="dropdown-item text-danger" (click)="removeProfilePicture()">Remove</a>
              </div>
            </div>
            <br>

            <h5 class="title text-black">{{ user.fullName }}</h5>
          </div>
        </div>
        <div class="card-footer text-white">
          <hr class="bg-primary">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0 heading" *ngIf="true" style="color: black;">Bio</h3>
                <h3 class="mb-0 heading" *ngIf="!true" style="color: black;">About Me</h3>
              </div>
              <div *ngIf="user.bio?.length != 0" class="ml-auto mr-2 text-right text-white">
                <a *ngIf="!allowUpdateBio" (click)="allowUpdateBio = !allowUpdateBio; successBio=false"
                  class="btn btn-sm btn-primary">Update</a>
                <a *ngIf="allowUpdateBio" (click)="allowUpdateBio = !allowUpdateBio"
                  class="btn btn-sm btn-danger">Cancel</a>
              </div>
              <div *ngIf="user.bio?.length == 0" class="ml-auto mr-2 text-right text-white">
                <a *ngIf="!allowUpdateBio && isUserACoach" (click)="allowUpdateBio = !allowUpdateBio"
                  class="btn btn-sm btn-primary">Write
                  your bio</a>
                <a *ngIf="!allowUpdateBio && !isUserACoach" (click)="allowUpdateBio = !allowUpdateBio; successBio=false"
                  class="btn btn-sm btn-primary">Write
                  your about me</a>
                <a *ngIf="allowUpdateBio" (click)="allowUpdateBio = !allowUpdateBio"
                  class="btn btn-sm btn-danger">Cancel</a>
              </div>
            </div>
          </div>
          <div *ngIf="user.bio || allowUpdateBio" class="card-body">
            <form class="form" [formGroup]="profilebioform" (ngSubmit)="onSubmitBio()" role="form">
              <div class="col-md-12">
                <label *ngIf="allowUpdateBio && isUserACoach" style="color: black;">Bio</label>
                <label *ngIf="allowUpdateBio && !isUserACoach" style="color: black;">About Me</label>
                <textarea *ngIf="allowUpdateBio && isUserACoach" rows="10" cols="80" formControlName="bio"
                  class="form-control textarea" placeholder="Bio"
                  [attr.disabled]="!allowUpdateBio ? true: null"></textarea>
                <textarea *ngIf="allowUpdateBio && !isUserACoach" rows="10" cols="80" formControlName="bio"
                  class="form-control textarea" placeholder="About me"
                  [attr.disabled]="!allowUpdateBio ? true: null"></textarea>
                <p *ngIf="!allowUpdateBio" style="color: black;">
                  <ng-container class="mb-1" *ngFor="let bioLine of user.bio">
                    {{ bioLine }} <br>
                  </ng-container>
                </p>
              </div>

              <div *ngIf="loadingBio" class="text-center">
                <div class="spinner-grow text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

              <div *ngIf="successBio" class="alert alert-success alert-with-icon alert-dismissible fade show"
                data-notify="container">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span data-notify="icon" class="nc-icon nc-check-2"></span>
                <span *ngIf="isUserACoach" data-notify="message">You have successfully updated your bio.</span>
                <span *ngIf="!isUserACoach" data-notify="message">You have successfully updated your about me.</span>
              </div>

              <div *ngIf="showErrorBio" class="alert alert-danger alert-with-icon alert-dismissible fade show"
                data-notify="container">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span data-notify="icon" class="nc-icon nc-alert-circle-i"></span>
                <span data-notify="message"> Your bio update has failed. {{ error }}
                  <br> Please, try again.
                </span>
              </div>

              <div *ngIf="allowUpdateBio" class="text-center">
                <button *ngIf="isUserACoach" [attr.disabled]="!allowUpdateBio ? true: null"
                  [hidden]="loadingBio || successBio" type="submit" class="btn btn-primary btn-lg btn-block my-4">
                  Update Bio</button>
                <button *ngIf="!isUserACoach" [attr.disabled]="!allowUpdateBio ? true: null"
                  [hidden]="loadingBio || successBio" type="submit" class="btn btn-primary btn-lg btn-block my-4">
                  Update About Me</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="card bg-hr text-white">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0 heading" style="color: black;">Settings</h3>
            </div>
            <div class="ml-auto mr-2 text-right text-white">
              <a *ngIf="!allowEdit" (click)="allowEdit = !allowEdit; success=false"
                class="btn btn-sm btn-primary">Edit</a>
              <a *ngIf="allowEdit" (click)="allowEdit = !allowEdit" class="btn btn-sm btn-danger">Cancel</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="profileform" (ngSubmit)="onSubmit()" role="form">
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" formControlName="name" class="form-control" placeholder="Name"
                    [attr.disabled]="!allowEdit ? true: null" required>
                  <div class="invalid-feedback d-block" *ngIf="submitted && f.name.errors">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    Name is required
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label>Surname</label>
                  <input type="text" formControlName="surname" class="form-control" placeholder="Surname"
                    [attr.disabled]="!allowEdit ? true: null" required>
                  <div class="invalid-feedback d-block" *ngIf="submitted && f.surname.errors">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    Surname is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" formControlName="email" class="form-control" placeholder="Email"
                    [attr.disabled]="!allowEdit ? true: null" required>
                  <div class="invalid-feedback d-block" *ngIf="submitted && f.email.errors">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    Email is required
                  </div>
                </div>
              </div>
            </div>




            <div *ngIf="loading" class="text-center">
              <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>

            <div *ngIf="success" class="alert alert-success alert-with-icon alert-dismissible fade show"
              data-notify="container">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
              </button>
              <span data-notify="icon" class="nc-icon nc-check-2"></span>
              <span data-notify="message">You have successfully edited the user information of your Airshare
                account.</span>
            </div>

            <div *ngIf="showError" class="alert alert-danger alert-with-icon alert-dismissible fade show"
              data-notify="container">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
              </button>
              <span data-notify="icon" class="nc-icon nc-alert-circle-i"></span>
              <span data-notify="message"> The user information of your Airshare account change has failed. {{
                error }}
                <br> Please, try again.
              </span>
            </div>

            <div *ngIf="allowEdit" class="text-center">
              <button [attr.disabled]="!allowEdit ? true: null" [hidden]="loading || success" type="submit"
                class="btn btn-primary btn-lg btn-block my-4">
                Update</button>
            </div>
          </form>
        </div>
      </div>
      <div class="card bg-hr text-white">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0 heading" style="color: black;">Password</h3>
              <!-- <h5 class="title">Profile</h5> -->
              <!-- <div class="h6 text-default">Choose one of Airshare profile pictures or update your own.
</div> -->
            </div>
            <div class="ml-auto mr-2 text-right text-white">
              <a *ngIf="!allowChangePassword"
                (click)="allowChangePassword = !allowChangePassword; successPassword=false"
                class="btn btn-sm btn-primary">Change Password</a>
              <a *ngIf="allowChangePassword" (click)="allowChangePassword = !allowChangePassword"
                class="btn btn-sm btn-danger">Cancel</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form *ngIf="allowChangePassword" class="form" [formGroup]="passwordform" (ngSubmit)="onSubmitPassword()"
            role="form">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Current Password</label>
                  <input type="password" formControlName="password" [attr.disabled]="!allowChangePassword ? true: null"
                    class="form-control form-control-user" placeholder="Current Password" required>
                </div>
                <div class="invalid-feedback d-block" *ngIf="submittedPassword && fpass.password.errors">
                  <i class="fas fa-exclamation-triangle"></i> &nbsp;
                  Password is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class="form-group">
                  <label>New Password</label>
                  <div class="input-group input-group-alternative">
                    <input [type]="hide ? 'password' : 'text'" formControlName="newpassword"
                      [attr.disabled]="!allowChangePassword ? true: null" class="form-control form-control-user"
                      placeholder="New Password" required>
                    <div class="input-group-append">
                      <a [attr.disabled]="!allowChangePassword ? true: null" type="button" class="btn-sm btn-primary"
                        (click)="hide = !hide">
                        <i *ngIf="!hide" class="fas fa-eye fa-2x text-white"></i>
                        <i *ngIf="hide" class="fas fa-eye-slash fa-2x text-white"></i>
                      </a>
                    </div>
                  </div>
                  <div class="invalid-feedback d-block" *ngIf="submittedPassword && fpass.newpassword.errors">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    New Password is required
                  </div>
                </div>
              </div>
              <div class="col-md-6 pl-md-1">
                <div class="form-group">
                  <label>Confirm New Password</label>
                  <input [type]="hide ? 'password' : 'text'" formControlName="confirmnewpassword"
                    [attr.disabled]="!allowChangePassword ? true: null" class="form-control form-control-user"
                    placeholder="Password" required>
                  <div class="invalid-feedback d-block" *ngIf="submittedPassword && fpass.confirmnewpassword.errors">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    Confirm New Password is required
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="invalid-feedback d-block"
                    *ngIf="submittedPassword && fpass.newpassword.errors && fpass.newpassword.value != ''">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    Passwords should be at least 8 characters long and contain one number,
                    one character and one special character.
                  </div>
                  <div class="invalid-feedback d-block"
                    *ngIf="submittedPassword && passwordform.hasError('mismatchedPasswords')">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    The passwords do not match.
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="loadingPassword" class="text-center">
              <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>

            <div *ngIf="showErrorPassword" class="alert alert-danger alert-with-icon alert-dismissible fade show"
              data-notify="container">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                <i class="nc-icon nc-simple-remove"></i>
              </button>
              <span data-notify="icon" class="nc-icon nc-alert-circle-i"></span>
              <span data-notify="message"> Your password change has failed. {{ error }}
                <br>
                Please, try again.
              </span>
            </div>

            <div *ngIf="allowChangePassword" class="text-center">
              <button [attr.disabled]="!allowChangePassword ? true: null" [hidden]="loadingPassword || successPassword"
                type="submit" class="btn btn-primary btn-lg btn-block my-4">
                Change Password</button>
            </div>
          </form>

          <div *ngIf="successPassword" class="alert alert-success alert-with-icon alert-dismissible fade show"
            data-notify="container">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
              <i class="nc-icon nc-simple-remove"></i>
            </button>
            <span data-notify="icon" class="nc-icon nc-check-2"></span>
            <span data-notify="message"> Your password have been updated successfully.</span>
          </div>

        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-sm btn-danger btn-link" role="button" (click)="deleteUser()">
          <i class="fas fa-user-times mr-2"></i> delete account
        </button>
      </div>
    </div>
  </div>
</div>