.review-section {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
  margin-right: 8px;
}

.review-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.review-likes {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.like-count {
  margin-right: 4px;
}

.heart-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #ff385c;
}

.comment-input {
  display: flex;
  margin-top: 10px;
}

.comment-input input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-right: 8px;
}

.comment-button {
  background-color: #ff385c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 12px;
}

.comment-list {
  margin-top: 10px;
}

.comment {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #f7f7f7;
}

.comment-text {
  font-size: 14px;
}
