<section *ngIf="mypost">
  <div class="review-section">
    <div class="review-header">
      <div class="review-user">
        <span class="username">{{ mypost.username }}</span>
      </div>
      <h3 class="review-title">{{ mypost.content }}</h3>
      <div class="review-likes">
        <span class="like-count">{{ mypost.likes }}</span>
        <button class="heart-button" (click)="mylike()">&#10084;</button>
      </div>
    </div>
    <div class="review-comments">
      <div class="comment-input">
        <input type="text" [(ngModel)]="comment" placeholder="Add a comment">
        <button class="comment-button" (click)="addComment()">Comment</button>
      </div>
      <div class="comment-list">
        <div *ngFor="let c of mypost.comments" class="comment">
          <span class="comment-text">{{ c }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
