<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <nav class="navbar bg-primary text-white">
                    <h5 class="mt-3 ml-3 card-title text-uppercase">Administration Center - Users
                    </h5>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="card bg-hr text-white">
                <div class="card-user">
                    <div class="image">
                        <img src="./assets/img/bg/tobias-rademacher-iLftQa2byYU-unsplash.jpg" alt="...">
                    </div>
                </div>
                <div class="card-body text-center">
                    <div class="author">
                        <h3 class="title">USERS</h3>
                    </div>
                </div>
                <div class="card-footer" style="margin-top: -50px;">
                    <hr class="bg-primary">
                    <!-- <div class="button-container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-6 ml-auto">
                                <h5 *ngIf="usersRecordsTemp?.length > 1">{{ usersRecordsTemp?.length }}
                                    <br>
                                    <small>Users</small>
                                </h5>
                                <h5 *ngIf="usersRecordsTemp?.length == 1">{{ usersRecordsTemp?.length }}
                                    <br>
                                    <small>User</small>
                                </h5>
                            </div>
                            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                                <h5>28
                                    <br>
                                    <small>Fit Camps</small>
                                </h5>
                            </div>
                            <div class="col-lg-3 mr-auto">
                                <h5>56 h
                                    <br>
                                    <small>Training</small>
                                </h5>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group" [ngClass]="{ 'input-group-focus': focus === true }">
                        <div class="input-group">
                            <div class="input-group-prepend bg-white border-round">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input #search type="text" style="padding:8px;width:50%;" class="form-control"
                                placeholder="Search" (keyup)="SearchItems($event)" (blur)="focus = false"
                                (focus)="focus = true" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-user bg-hr text-white">
                <div class="card-body">
                    <ul class="list-unstyled team-members">
                        <li *ngFor="let User of usersRecords; let i = index">
                            <div class="row">
                                <!-- <div class="user">
                                    <img class="avatar-sm img-fluid" src="{{User.avatar}}">
                                </div> -->
                                <a class="user ml-2" [routerLink]="['/profile', User.publicid]">
                                    <img class="avatar img-fluid" src="{{User.avatar}}">
                                </a>
                                <div class="col text-left ml-3">
                                    <a class="h6" [routerLink]="['/profile', User.publicid]">{{User.fullName}}</a>
                                    <br />
                                    <span *ngIf="User.enable" class="text-success">
                                        <small>Enabled</small>
                                    </span>
                                    <span *ngIf="!User.enable" class="text-danger">
                                        <small>Disabled</small>
                                    </span>
                                    <br />
                                    <label class="h6 col-form-label">
                                        Role
                                    </label>
                                    <br />
                                    <!-- <div class="form-horizontal"> -->
                                    <div class="row mr-auto">
                                        <!-- <div class="col-md-9"> -->
                                            <select class="form-control custom-select mr-sm-2"
                                                [disabled]="(User.id == user)"
                                                (change)="updateUserRole(User, $event.target.value)">
                                                <option *ngFor="let userRole of userRoleType" [value]="userRole.value"
                                                    [selected]="userRole.value == User.role">
                                                    {{userRole.role}}</option>
                                            </select>
                                        <!-- </div> -->
                                    </div>
                                    <div class="invalid-feedback d-block" *ngIf="submitted && f.role.errors">
                                        <i class="fas fa-exclamation-triangle"></i> &nbsp;
                                        Role is required
                                    </div>
                                    <!-- </div> -->
                                </div>
                                
<!--                                 <div *ngIf="true" class="ml-auto text-right">
                                    <div class="dropleft mr-2">
                                        <a class="btn btn-link text-white" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="true">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </a>
                                        <div class="dropdown-menu border" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" (click)="moreInfo(User)">More</a>
                                            <a *ngIf="User.enable" class="dropdown-item"
                                                (click)="enableUser(User)">Disable
                                                User</a>
                                            <a *ngIf="!User.enable" class="dropdown-item"
                                                (click)="enableUser(User)">Enable
                                                User</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item bg-danger" (click)="deleteUser(User)">Delete</a>
                                        </div>
                                    </div>
                                </div> -->
                                <div *ngIf="(User.id != user)" class="ml-auto text-right">
                                    <div class="dropleft mr-2">
                                        <div class="dropdown-divider"></div>
                                        <a *ngIf="User.enable" 
                                                (click)="enableUser(User)" style="color: 'black';">Disable User</a>
                                            <a *ngIf="!User.enable"
                                                (click)="enableUser(User)" style="color: 'black';">Enable
                                                User</a>
                                            <a class="dropdown-item bg-danger" (click)="deleteUser(User)">Delete</a>
                                    </div>
                                </div>
                                
                                <div *ngIf="(User.id == user)" class="col-md-3 col-3 text-right">
                                    <button class="btn btn-sm btn-outline-success btn-round btn-icon" disabled><i
                                            class="fas fa-user"></i></button> You
                                </div>
                            </div>
                            <hr *ngIf="usersRecords?.length != i+1" class="mb--5 bg-primary">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>