<div class="modal-content bg-default">
    <form [formGroup]="uploadform" (ngSubmit)="onSubmit()" role="form" class="needs-validation" novalidate>

        <div class="modal-header">

            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"
                (click)="activeModal.close('Close click')">
                <span aria-hidden="true">&times;</span>
            </button>

            <h5 class="modal-title text-white" id="exampleModalLabel">Upload Profile Picture</h5>

        </div>

        <div class="modal-body">

            <div class="row">
                <div class="col">
                    <div class="card card-user bg-default">
                        <div class="image">
                            <img src="./assets/img/bg/tobias-rademacher-iLftQa2byYU-unsplash.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="author">
                                <img *ngIf="!imgPreview" class="image-container border-gray" src="{{avatar}}" alt="...">
                                <img *ngIf="imgPreview" [src]="imgPreview" class="image-container border-gray">
                                <h5 *ngIf="imgPreview" class="title text-white">Profile Picture Preview</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="success">
                <div class="alert alert-success text-white" role="alert">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    Profile picture has been uploaded successfully!
                </div>
            </div>

            <div *ngIf="!success" class="form-group mb-3">

                <h5 class="col-form-label text-danger">
                    Maximum upload file size: 10 MB.
                </h5>

                <div class="row">
                    <div class="col-md-8">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">

                            <div *ngIf="error || errorSize || errorQuantity" class="alert text-white alert-danger"
                                role="alert">
                                <i class="fas fa-exclamation-triangle"></i> &nbsp;
                                {{ error }} {{ errorSize }}
                            </div>

                            <div *ngIf="submitted && !fileToUpload" class="alert text-white alert-danger" role="alert">
                                <i class="fas fa-exclamation-triangle"></i> &nbsp;
                                Uploading a picture is required.
                            </div>

                            <div class="form-group">

                                <span class="btn btn-primary btn-round btn-file">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change file</span>
                                    <input type="file" id="fileUpload" placeholder="File"
                                        (change)="fileChangeEvent($event)" multiple rel="tooltip" title=""
                                        accept="image/*" />
                                </span>
                                <a (click)="fileChangeEvent(null)" class="btn btn-danger btn-round fileinput-exists"
                                    data-dismiss="fileinput"><i class="fa fa-times"></i> Remove file</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-check text-left">
                    <label class="form-check-label text-white">
                        <input formControlName="checked" type="checkbox" class="custom-control-input" id="customCheck">
                        <span class="form-check-sign"></span>
                        I agree to the <a (click)="seeTerms()" target="_blank"><b>Terms of Use</b></a> and <a
                            (click)="seePrivacy()" target="_blank"><b>Privacy Policies</b></a> in order to use this
                        application and Airshare services.
                    </label>
                </div>

                <div *ngIf="submitted && f.checked.errors" class="alert text-white alert-danger" role="alert">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    Agreeing to the Terms of Use and Privacy Policies is required.
                </div>

            </div>

            <div *ngIf="showError" class="alert alert-danger text-white" role="alert">
                <i class="fas fa-exclamation-triangle"></i> &nbsp;
                An error has occurred. Please check your connection and try again.
            </div>

        </div>

        <div *ngIf="!success" class="modal-footer">
            <div class="mr-2">

                <div *ngIf="loading" class="text-center">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <button [hidden]="loading" type="button" class="btn btn-neutral"
                    (click)="activeModal.close('Close click')" data-dismiss="modal">Cancel</button>
                <button [hidden]="loading" type="submit" class="btn btn-primary">Update Profile Picture</button>
            </div>

        </div>
    </form>
</div>