.image-container {
    width: 300px; /* Adjust the width and height according to your needs */
    height: 300px;
    border-radius: 50%; /* This will create a circular shape */
    overflow: hidden; /* This will hide any image parts outside the circular container */
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image fills the circular container */
  }

