<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <!-- <a href="https://www.template.com" target="_blank">Template</a> -->
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{today | date: 'yyyy'}}, Airshare. All rights reserved.
        </div>
    </div>
</footer>

<nav class="navbar-horizontal navbar-expand-lg bg-primary fixed-bottom d-md-block d-lg-none">
    <div class="container justify-content-between text-center">
        <div class="row">

            <div class="col">
                <a *ngIf="!router.url.match('dashboard')" class="nav-link font-weight-300 text-white"
                    [routerLink]="['/dashboard']">
                    <i class="fas fa-desktop fa-lg"></i>
                    <h3 class="mb-0 d-block font-weight-600 text-white">Adverstisement</h3>
                </a>
                <a *ngIf="router.url.includes('dashboard')" class="nav-link font-weight-300 text-muted">
                    <i class="fas fa-desktop fa-lg"></i>
                    <h3 class="mb-0 d-block font-weight-600 text-muted">Adverstisement</h3>
                </a>
            </div>

            <div *ngIf="!router.url.match('dashboard')" class="col">
                <a (click)="backClicked()" class="nav-link font-weight-300 text-white">
                    <i class="fas fa-chevron-circle-left fa-lg"></i>
                    <h3 class="mb-0 d-block font-weight-600 text-white"> back </h3>
                    </a>
            </div>

        </div>
    </div>
</nav>