<div class="wrapper wrapper-full-page pb-5">
    <!-- <div class="full-page section-image" filter-color="black" data-image="./assets/img/bg/jeff-sheldon.jpg"> -->
    <div class="full-page section-image opacity-2" filter-color="blue"
        data-image="./assets/img/bg/chris-montgomery-smgTvepind4-unsplash.jpg">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose" -->
        <div class="content">
            <div class="container">
                <div class="text-center mb-5">
                    <!-- <img src="./assets/img/Template_logo.png" alt="..."> -->
                </div>
                <!-- Page content -->
                <div class="col-lg-8 col-md-9 ml-auto mr-auto">
                    <div class="card card-login">
                        <div class="text-center">

                            <div class="card-header">
                                <h3 class="header text-center">PASSWORD RESET</h3>
                                <p *ngIf="!succeed && !requestExpired && !loadingPage "
                                    class="text-default text-center">
                                    Choose a strong password and don't reuse it for other accounts.
                                    <br> <br>
                                    Changing your password will sign you out of all your devices, including your phone.
                                    You will need to enter your new password on all your devices.
                                </p>
                            </div>

                            <div *ngIf="loadingPage" class="mt-2 text-center">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                            <div *ngIf="!loadingPage" class="card-body px-lg-5 py-lg-5 mb--5">
                                <form *ngIf="!succeed && !requestExpired" [formGroup]="passwordForm"
                                    (ngSubmit)="onSubmit()" role="form" class="needs-validation" novalidate>

                                    <div [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="nc-icon nc-key-25"></i>
                                                </span>
                                            </div>
                                            <input [type]="hide ? 'password' : 'text'" formControlName="password"
                                                class="form-control form-control-user" placeholder="Password"
                                                name="password" (focus)="focus=true" (blur)="focus=false" required>
                                            <div class="input-group-append text-center">
                                                <a type="button" class="btn-sm text-muted" placement="bottom"
                                                    ngbPopover="Passwords should be at least 8 characters long and contain one number,
                                              one character and one special character.">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>
                                                <a type="button" class="btn-sm btn-primary" (click)="hide = !hide">
                                                    <i *ngIf="!hide" class="fas fa-eye fa-2x text-white"></i>
                                                    <i *ngIf="hide" class="fas fa-eye-slash fa-2x text-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="invalid-feedback d-block" *ngIf="submitted && f.password.errors"
                                            name="passwordrequired">
                                            <i class="fas fa-exclamation-triangle"></i> &nbsp;
                                            Password is required
                                        </div>
                                    </div>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="nc-icon nc-key-25"></i>
                                            </span>
                                        </div>
                                        <input [type]="hide ? 'password' : 'text'" formControlName="confirmpassword"
                                            class="form-control form-control-user" placeholder="Confirm Password"
                                            name="confirmpassword" (focus)="focus1=true" (blur)="focus1=false" required>
                                        <div class="invalid-feedback d-block"
                                            *ngIf="submitted && f.confirmpassword.errors" name="passwordrequired">
                                            <i class="fas fa-exclamation-triangle"></i> &nbsp;
                                            Confirm Password is required
                                        </div>
                                        <div class="invalid-feedback d-block"
                                            *ngIf="submitted && f.password.errors && f.password.value != ''">
                                            <i class="fas fa-exclamation-triangle"></i> &nbsp;
                                            Passwords should be at least 8 characters long and contain one number,
                                            one character and one special character.
                                        </div>
                                        <div class="invalid-feedback d-block"
                                            *ngIf="submitted && registerform.hasError('mismatchedPasswords')">
                                            <i class="fas fa-exclamation-triangle"></i> &nbsp;
                                            The passwords do not match.
                                        </div>
                                    </div>

                                    <div *ngIf="loading" class="text-center">
                                        <div class="spinner-grow text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>

                                    <div *ngIf="!succeed" class="text-center">
                                        <button [hidden]="loading" type="submit"
                                            class="btn btn-primary btn-lg btn-block my-4">Reset Password</button>
                                    </div>
                                </form>

                                <div *ngIf="succeed">
                                    <img width="250px" src="./assets/img/svg/undraw_checklist__re_2w7v.svg"
                                        class="img-center img-fluid mb-5">
                                    <br>
                                    <div class="alert alert-success text-white" role="alert">
                                        You have successfully reset your password for your Template account.
                                    </div>
                                    <div class="text-center">
                                        <button [routerLink]="['/login']" type="button"
                                            class="btn btn-primary btn-lg btn-block my-4">Go
                                            to Login</button>
                                    </div>
                                </div>

                                <div *ngIf="requestExpired">

                                    <img width="250px" src="./assets/img/svg/undraw_season_change_f99v.svg"
                                        class="img-center img-fluid mb-5">
                                    <br>
                                    <div class="alert alert-info text-white" role="alert">
                                        Your password reset link has expired. <br> <br>
                                        Click in 'Forgot Password' and request a new link.
                                    </div>
                                    <div class="text-center">
                                        <button [routerLink]="['/forgot-password']" type="button"
                                            class="btn btn-default btn-lg btn-block my-4">Forgot
                                            Password</button>
                                    </div>
                                    <div class="text-center">
                                        <button [routerLink]="['/login']" type="button"
                                            class="btn btn-info btn-lg btn-block btn-link my-4">Go
                                            to Login</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>