<div class="main-content">
    <div class="card card-plain shadow">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0 heading-title text-primary">
                        <i class="fab fa-stripe"></i> &nbsp; My Stripe Account
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card card-plain">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0 heading-title text-primary">
                                <i class="fas fa-user"></i> &nbsp; Account Details
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-money text-warning"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-category">Revenue</p>
                                                <p class="card-title"> &euro; 10,000
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-refresh"></i> 3 clients
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-stats">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="nc-icon nc money-coins text-warning"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-refresh"></i> Update Now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-globe text-warning"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Capacity</p>
                                <p class="card-title">150GB
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-refresh"></i> Update Now
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-money-coins text-success"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Revenue</p>
                                <p class="card-title">$ 1,345
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-calendar-o"></i> Last day
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-vector text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Errors</p>
                                <p class="card-title">23
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> In the last hour
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-favourite-28 text-primary"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Followers</p>
                                <p class="card-title">+45K
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-refresh"></i> Update now
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <body data-new-gr-c-s-check-loaded="14.1088.0" data-gr-ext-installed="">
    <header>
        <div id="top">
            <div class="logo"><a class="rocketrides mark" href="/"></a></div>
            <div class="links"><a href="/pilots/dashboard">Dashboard</a><a href="/pilots/logout">Log
                    out</a></div>
        </div>
        <div class="banner">
            <div class="message"><strong>Congratulations, your account is set up.
                </strong><span class="secondary-text">Fire up your rocket and take your
                    first passengers.</span></div>
        </div>
    </header>
    <div id="content">
        <div class="dashboard">
            <div class="user">
                <div class="block profile">
                    <div class="photo"></div>
                    <p>Pilot since Dec 2022</p>
                    <h1>Franklin Silva</h1>
                    <h2><a href="/pilots/stripe/dashboard?account=true">View Stripe
                            account</a></h2>
                </div>
                <div class="block week">
                    <p>This week</p>
                    <h1>$0.00</h1>
                    <h2>0 rides</h2>
                </div>
                <div class="block available">
                    <p>Your balance</p>
                    <h1>€0.00</h1>
                    <h2> €0.00 available</h2>
                </div>
                <div class="block stripe">
                    <form class="payout" action="/pilots/stripe/payout" method="POST" autocomplete="off">
                        <input class="primary" type="submit" value="Pay out now" disabled="">
                    </form>
                    <p><a href="/pilots/stripe/dashboard">View payouts on Stripe</a></p>
                </div>
            </div>
            <section class="rides">
                <h4>Recent rides</h4>
                <div class="no-rides">
                    <div class="rocket"></div>
                    <h1>No rides to display yet</h1>
                    <h2>Fly with some passengers!</h2>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="annotation card dashboard-banner">
            <h4>The Connect Express onboarding flow is now complete. <a class="show-more" href="#">&nbsp;(show more)</a>
            </h4>
            <div class="description">
                <p>Express includes the <strong>Stripe account ID</strong> that was just
                    created, so after the flow
                    redirects to Rocket Rides we can save it to the database.</p>
                <p>This account ID can then be used to <a href="https://stripe.com/docs/api/balance/balance_retrieve"
                        target="_blank">retrieve
                        the pilot’s balance</a>, provide a <a href="https://stripe.com/docs/connect/destination-charges"
                        target="_blank">destination for
                        payments</a>, or <a href="https://stripe.com/docs/connect/payouts" target="_blank">create
                        payouts</a>.</p>
            </div>
            <form class="right"><button class="primary-action next">Next step</button>
            </form>
        </div>
        <div class="annotation card dashboard-simulate hidden">
            <h4>Simulate a passenger ride to create a payment for this pilot.<a class="show-more" href="#">&nbsp;(show
                    more)</a></h4>
            <div class="description">
                <ol>
                    <li>The balance is automatically fetched from the Stripe API.</li>
                    <li><strong>View payouts on Stripe</strong> lets pilots see their
                        payouts or edit their account
                        information.</li>
                    <li><strong>Pay out now</strong> uses the Stripe API to <a
                            href="https://stripe.com/docs/connect/payouts" target="_blank">generate a
                            payout</a> of the
                        available balance.</li>
                </ol>
            </div>
            <form class="right" action="/pilots/rides" method="POST" autocomplete="off">
                <input class="primary-action" type="submit" name="immediate_balance" value="Create passenger ride">
            </form>
        </div>
    </footer>
    <script src="/javascripts/rocketrides.js"></script>
</body> -->