<div class="main-content">
  <!-- <div class="row">
    <div class="col">
      <div class="row align-items-center">
        <div class="col">
          <button [routerLink]="['/dashboard']" class="btn btn-default btn-link h5">
            <i class="fas fa-arrow-circle-left"></i> &nbsp; back</button>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <button [routerLink]="['/dashboard']" class="btn btn-default btn-block h5">
    <i class="fas fa-arrow-circle-left"></i> &nbsp; Dashboard</button> -->
  <div class="row">
    <div class="col">
      <div class="card">
        <nav class="navbar bg-primary text-white">
          <h5 class="mt-3 card-title text-uppercase">First Component Placeholder</h5>
        </nav>
        <!-- <div class="card-header">
          <h5>Information Resources</h5>
        </div> -->
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-4 col-6">
              <div class="nav-tabs-navigation vertical-navs">
                <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs flex-column nav-stacked" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" href="#info" role="tab" data-toggle="tab">Info</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#description" role="tab" data-toggle="tab">Description</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#concept" role="tab" data-toggle="tab">Concept</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#support" role="tab" data-toggle="tab">Support</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#extra" role="tab" data-toggle="tab">Extra</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-8 col-6">
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="info">
                  <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth
                    metal surface that seamlessly meets the new Retina HD display.</p>
                  <p>It’s one continuous form where hardware and software function in perfect unison, creating a new
                    generation of phone that’s better by any measure.</p>
                </div>
                <div class="tab-pane" id="description">
                  <p>The first thing you notice when you hold the phone is how great it feels in your hand. The cover
                    glass curves down around the sides to meet the anodized aluminum enclosure in a remarkable,
                    simplified design. </p>
                  <p>There are no distinct edges. No gaps. Just a smooth, seamless bond of metal and glass that feels
                    like one continuous surface.</p>
                </div>
                <div class="tab-pane" id="concept">
                  <p>It’s one continuous form where hardware and software function in perfect unison, creating a new
                    generation of phone that’s better by any measure.</p>
                  <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth
                    metal surface that seamlessly meets the new Retina HD display. </p>
                </div>
                <div class="tab-pane" id="support">
                  <p>From the seamless transition of glass and metal to the streamlined profile, every detail was
                    carefully considered to enhance your experience. So while its display is larger, the phone feels
                    just right.</p>
                  <p>It’s one continuous form where hardware and software function in perfect unison, creating a new
                    generation of phone that’s better by any measure.</p>
                </div>
                <div class="tab-pane" id="extra">
                  <p>It’s one continuous form where hardware and software function in perfect unison, creating a new
                    generation of phone that’s better by any measure.</p>
                  <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth
                    metal surface that seamlessly meets the new Retina HD display. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>