

    <!-- Chnage SideBar Colour -->
<!--     <div class="sidebar" data-color="white" data-active-color="primary">
        <sidebar-cmp></sidebar-cmp>
    </div> -->
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <router-outlet></router-outlet>
        <footer-cmp></footer-cmp>
    </div>
<!-- <fixedplugin-cmp></fixedplugin-cmp> -->
