<div class="wrapper wrapper-full-page pb-5">
  <!-- <div class="full-page section-image" filter-color="black" data-image="./assets/img/bg/jeff-sheldon.jpg"> -->
  <div class="full-page  opacity-2 img" >
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose" -->
    <div class="content">
      <div class="container">
        <div class="text-center mb-5">
           <img src="./assets/img/Airshare-minilogo.png" alt="..."> 
        </div>
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <form [formGroup]="loginform" (ngSubmit)="onSubmit()" role="form" class="form needs-validation" novalidate
            name="loginform">

            <div class="card card-login">
              <div class="text-center">

                <div class="card-header">
                  <h3 class="header text-center">Login</h3>
                </div>
              </div>
              <div class="card-body">
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-single-02"></i>
                    </span>
                  </div>
                  <input type="email" formControlName="email" class="form-control" placeholder="Email" name="email"
                    aria-describedby="inputGroupPrepend" (focus)="focus=true" (blur)="focus=false" required>
                  <div class="invalid-feedback d-block" *ngIf="submitted && f.email.errors" name="emailrequired">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    Email is required
                  </div>
                </div>

                <div [ngClass]="{'input-group-focus':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-key-25"></i>
                      </span>
                    </div>
                    <input [type]="hide ? 'password' : 'text'" formControlName="password"
                      class="form-control form-control-user" placeholder="Password" name="password"
                      (focus)="focus1=true" (blur)="focus1=false" required>
                    <div class="input-group-append">
                      <a type="button" class="btn-sm btn-primary" (click)="hide = !hide">
                        <i *ngIf="!hide" class="fas fa-eye fa-2x text-white"></i>
                        <i *ngIf="hide" class="fas fa-eye-slash fa-2x text-white"></i>
                      </a>
                    </div>
                  </div>
                  <div class="invalid-feedback d-block" *ngIf="submitted && f.password.errors" name="passwordrequired">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    Password is required
                  </div>
                </div>
                <!-- <br /> -->

                <div *ngIf="showError" class="alert alert-danger text-white" role="alert" name="logininvalid">
                  <i class="fas fa-exclamation-triangle"></i> &nbsp;
                  Invalid credentials.
                </div>

                <div *ngIf="showErrorConnection" class="alert alert-danger text-white" role="alert">
                  <i class="fas fa-exclamation-triangle"></i> &nbsp;
                  Server connection failed. Please try again later. <br>If the problem persists, please contact the
                  system administrator.
                </div>

                <div *ngIf="loading" class="text-center">
                  <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>

                <div class="text-center">
                  <button [hidden]="loading" type="submit" class="btn btn-default btn-lg btn-block my-4">Login</button>
                  <!-- <a href="javascript:void(0)" class="btn btn-warning btn-round btn-block mb-3">Get Started</a> -->
                </div>
              </div>
            </div>
          </form>
          <div class="row mt-3 text-uppercase">
            <div class="col-6">
              <a [routerLink]="['/forgot-password']"><small class="text-default">Forgot password?</small></a>
            </div>
            <div class="col-6 text-right">
              <a [routerLink]="['/register']"><small>Create account</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>