<div class="comment-section">
    <h1>Add Comments and Review</h1>
    <div class="add-comment">
      <input type="text" class="add-username" [(ngModel)]="username" placeholder="Your Username">
      <textarea class="add-post" [(ngModel)]="content" placeholder="Write your review"></textarea>
      <button class="add-post-button" (click)="addPost()">Add Post</button>
    </div>
    <hr>
    <h4>COMMENTS AND REVIEWS</h4>
    <div class="post-list">
      <div *ngFor="let p of posts; let i = index" class="post">
        <app-add-review [mypost]="p" (like)="likes(i)" (ecomment)="addComment(i, $event)"></app-add-review>
      </div>
    </div>
  </div>
  