.dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

/* Style for the select element */
.price-option-select {
    width: 150px; /* Adjust the width as needed */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Style for the input element */
  .price-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Add a bit of space between the select and input elements */
  .input-group-prepend {
    margin-right: -1px;
  }
  
  /* Highlight the input when focused */
  .input-group-focus .price-input:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* Add some space above the invalid feedback message */
  .invalid-feedback {
    margin-top: 0.25rem;
    color: #dc3545;
  }
  