<div class="main-content">
  <!-- <div class="row">
    <div class="col">
      <div class="row align-items-center">
        <div class="col">
          <button [routerLink]="['/challenge-view-list']" class="btn btn-default btn-link h5">
            <i class="fas fa-arrow-circle-left"></i> &nbsp; back</button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col">
      <div class="card">

        <nav class="navbar bg-primary text-white">
          <h5 class="mt-3 ml-3 card-title text-uppercase">Create New Advertisement</h5>
        </nav>

        <div class="row">
          <div class="col-lg-8 col-md-8 m-auto">
            <div class="card-signup">
              <div class="card-body">
                <form  *ngIf="!success" class="form" [formGroup]="challengeform" (ngSubmit)="onSubmit()" role="form"
                  method="" action="">

                  <div class="form-group mb-3" [ngClass]="{'input-group-focus':focus===true}">
                    <label class="col-form-label">
                      Name
                    </label>
                    <input type="text" formControlName="name" class="form-control" placeholder="Name"
                      (focus)="focus=true" (blur)="focus=false" required>
                    <div class="invalid-feedback d-block" *ngIf="submitted && f.name.errors">
                      <i class="fas fa-exclamation-triangle"></i> &nbsp;
                      Name is required
                    </div>
                  </div>

                  <div class="form-group mb-3" [ngClass]="{'input-group-focus':focus1===true}">
                    <label class="col-form-label" for="TextAbstract">
                      Description
                    </label>
                    <textarea class="form-control" id="TextAbstract" rows="5" formControlName="abstract"
                      placeholder="Description" (focus)="focus1=true" (blur)="focus1=false" required></textarea>
                    <div class="invalid-feedback d-block" *ngIf="submitted && f.abstract.errors">
                      <i class="fas fa-exclamation-triangle"></i> &nbsp;
                      Description is required
                    </div>
                  </div>

<!--                   <div class="form-group mb-3" [ngClass]="{'input-group-focus':focus1===true}">
                    <label class="col-form-label">
                      Price
                    </label>
                    <input type="text" class="form-control"   formControlName="overview"
                      placeholder="€" (focus)="focus1=true" (blur)="focus1=false" required>
                    <div class="invalid-feedback d-block" *ngIf="submitted && f.overview.errors">
                      <i class="fas fa-exclamation-triangle"></i> &nbsp;
                      Price is required
                    </div>
                  </div> -->
                  
                  <div class="form-group mb-3" [ngClass]="{'input-group-focus': focus1 === true}">
                    <label class="col-form-label">
                      Price
                    </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <select class="form-control price-option-select" (change)="priceOptionChanged($event.target.value)" [(ngModel)]="selectedPriceOption">
                          <option value="specific">Specific Price</option>
                          <option value="free">Free</option>
                        </select>
                      </div>
                      <input type="text" class="form-control price-input" formControlName="overview"
                        placeholder="Enter price" (focus)="focus1=true" (blur)="focus1=false" [(ngModel)]="selectedPrice">
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="submitted && f.overview.errors">
                      <i class="fas fa-exclamation-triangle"></i> &nbsp;
                      Price is required
                    </div>
                  </div>
                  
                  
                  

                  <div class="form-group mb-3" [ngClass]="{'input-group-focus':focus1===true}">
                    <label class="col-form-label">
                      Address
                    </label>
                    <input type="text" class="form-control"   formControlName="address"
                      placeholder="Address" (focus)="focus1=true" (blur)="focus1=false" required>
                    <div class="invalid-feedback d-block" *ngIf="submitted && f.overview.errors">
                      <i class="fas fa-exclamation-triangle"></i> &nbsp;
                      Address is required
                    </div>
                  </div>

                <div class="row">
                    <div class="form-group mb-3 col-md-6" [ngClass]="{'input-group-focus':focus3===true}">
                      <label class="col-form-label">
                        Deadline
                      </label>
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" formControlName="deadline" placeholder="dd/mm/yyyy" name="dp"
                            ngbDatepicker #d="ngbDatepicker" (focus)="focus3=true" (blur)="focus3=false"
                            placement="left" [positionTarget]="buttonEl" required>
                          <div class="input-group-append text-center">
                            <a #buttonEl type="button" class="btn-sm btn-primary" (click)="d.toggle()">
                              <i class="fas fa-calendar-alt fa-2x text-white"></i> &nbsp;</a>
                          </div>
                        </div>
                      </div>
                      <div class="invalid-feedback d-block" *ngIf="submitted && f.deadline.errors">
                        <i class="fas fa-exclamation-triangle"></i> &nbsp;
                        Deadline is required
                      </div>
                    </div>
                    <div class="form-group">
                    </div>
                  </div> 

 
<!--                   <div class="row">

                    <div class="form-group mb-3 col-md-6" [ngClass]="{'input-group-focus':focus3===true}">
                      <label class="col-form-label">
                        From
                      </label>
                      <div class="form-group">
                        <div class="dp-hidden position-absolute">
                          <div class="input-group">
                            <input
                              name="datepicker"
                              class="form-control"
                              ngbDatepicker
                              #datepicker="ngbDatepicker"
                              [autoClose]="'outside'"
                              (dateSelect)="onDateSelection($event)"
                              [displayMonths]="2"
                              [dayTemplate]="t"
                              outsideDays="hidden"
                              [startDate]="fromDate!"
                              tabindex="-1"
                            />
                            <ng-template #t let-date let-focused="focused">
                              <span
                                class="custom-day"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)"
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null"
                              >
                                {{ date.day }}
                              </span>
                            </ng-template>
                          </div>
                        </div>
                        <div class="input-group">
                          <input
                          formControlName="deadline"
                          #dpFromDate
                          class="form-control"
                          placeholder="dd/mm/yyyy"
                          name="dpFromDate"
                          [value]="formatter.format(fromDate)"
                          (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                          (focus)="focus3=true" (blur)="focus3=false"
                          placement="left" [positionTarget]="buttonEl" required
                        />
                        <div class="input-group-append text-center">
                          <a #buttonEl type="button" class="btn-sm btn-primary" (click)="datepicker.toggle()">
                            <i class="fas fa-calendar-alt fa-2x text-white"></i> &nbsp;</a>
                        </div>
                        </div>
                      </div>
                      <div class="invalid-feedback d-block" *ngIf="submitted && f.deadline.errors">
                        <i class="fas fa-exclamation-triangle"></i> &nbsp;
                        From is required
                      </div>
                    </div>
                    <div class="form-group">
                    </div>
                    <div class="form-group mb-3 col-md-6" [ngClass]="{'input-group-focus':focus3===true}">
                      <label class="col-form-label">
                        To
                      </label>
                      <div class="form-group">
                        <div class="input-group">
                          <input
                          formControlName="deadline"
                          #dpToDate
                          class="form-control"
                          placeholder="dd/mm/yyyy"
                          name="dpToDate"
                          [value]="formatter.format(toDate)"
                          (input)="toDate = validateInput(toDate, dpToDate.value)"
                          (focus)="focus3=true" (blur)="focus3=false"
                          placement="left" [positionTarget]="buttonEl" required
                        />
                        <div class="input-group-append text-center">
                          <a #buttonEl type="button" class="btn-sm btn-primary" (click)="datepicker.toggle()">
                            <i class="fas fa-calendar-alt fa-2x text-white"></i> &nbsp;</a>
                        </div>
                        </div>
                      </div>
                      <div class="invalid-feedback d-block" *ngIf="submitted && f.deadline.errors">
                        <i class="fas fa-exclamation-triangle"></i> &nbsp;
                        To is required
                      </div>
                    </div>
                    <div class="form-group">
                    </div>
                  </div> -->
                    
<!--                   <div class="form-group mb-3" [ngClass]="{'input-group-focus':focus5===true}">
                    <label class="col-form-label">
                      Video
                    </label>
                    <input type="text" formControlName="video" class="form-control"
                      placeholder="Youtube Video (Optional)" (focus)="focus5=true" (blur)="focus5=false">
                  </div> -->

                  <div class="row">
                    <div class="col-md-8">
                      <label class="col-form-label">
                        Upload Photos
                      </label> <br>
                      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <!-- <div class="fileinput-new thumbnail">
                          <img src="./assets/img/image_placeholder.jpg" alt="...">
                        </div>-->
                        <!-- <div class="fileinput-preview fileinput-exists thumbnail"></div> -->
                        <div *ngFor="let item of fileToUpload, let i = index">
                          <div class="d-flex justify-content-between">
                            {{item.name}}
                            <button type="button" class="btn btn-danger btn-sm"
                              (click)="removeItem(i)">
                              <i class="fas fa-trash"></i> &nbsp; remove
                            </button>
                          </div>
                          <div class="dropdown-divider"></div>
                        </div>

                        <div *ngIf="error || errorSize || errorQuantity" class="alert text-white alert-danger"
                          role="alert">
                          <i class="fas fa-exclamation-triangle"></i> &nbsp;
                          {{ error }} {{ errorSize }} {{ errorQuantity }}
                        </div>

                        <div class="form-group">
                          <label class="col-form-label">
                            Upload minimum 5 photos.
                          </label> <br>
                          <span class="btn btn-rose btn-round btn-file">
                            <span class="fileinput-new">Select Photos</span>
                            <span class="fileinput-exists">Upload more photos</span>
                            <input type="file" id="fileUpload" placeholder="File" (change)="fileChangeEvent($event)"
                              multiple rel="tooltip" title="" />
                            <!-- accept="image/*"  -->
                          </span>
                          <a (click)="fileChangeEvent(null)" class="btn btn-danger btn-round fileinput-exists"
                            data-dismiss="fileinput"><i class="fa fa-times"></i> Remove All Photos</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-check text-left">
                    <label class="form-check-label">
                      <input formControlName="checked" type="checkbox" class="custom-control-input" id="customCheck">
                      <span class="form-check-sign"></span>
                      I agree to the <a (click)="seeTerms()" target="_blank"><b>Terms of Use</b></a> and <a
                        (click)="seePrivacy()" target="_blank"><b>Privacy Policies</b></a> in order to use this
                      application and AMPloyees services. </label>
                  </div>

                  <div *ngIf="submitted && f.checked.errors" class="alert text-white alert-danger" role="alert">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    Agreeing to the Terms of Use and Privacy Policies is required.
                  </div>

                  <div *ngIf="showError" class="alert text-white alert-danger" role="alert">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    An error has occorred. Please, try again.
                  </div>

                  <div *ngIf="loading" class="text-center">
                    <div class="spinner-grow text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>

                  <div class="text-center">
                    <button [hidden]="loading || success" type="submit" class="btn btn-primary btn-lg btn-block my-4">
                      Upload Advertisement</button>
                  </div>
                </form>

                <div *ngIf="success" class="alert text-dark  text-center" role="alert">
                  <img width="200px" src="./assets/img/svg/undraw_done_re_oak4.svg" class="img-center">
                  <br> <br>
                  <!-- You have successfully created a challenge and it has been now published. -->
                  <div class="alert alert-success text-white" role="alert">
                    <i class="fas fa-check"></i> &nbsp;
                    You have successfully uploaded a Advertisement and it has been now published.
                  </div>
                  <a [routerLink]="['/challenge-view-list']" class="btn btn-block btn-primary btn-link h5 title">
                    View All Advertisement &nbsp; <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!success" class="col-lg-2 col-sm-2 col-md-2 mr-auto d-none d-md-block">
            <div class="info-area info-horizontal mt-5">
              <div class="text-center mb-5">
                <img src="./assets/img/svg/undraw_team_up_ip2x.svg" alt="...">
              </div>
            </div>
            <div class="info-area info-horizontal text-center">
              <div class="description text-center">
                <h5 class="info-title text-uppercase">Advertisement</h5>
                <p class="description font-weight-normal text-dark">
                  A supportive group is like a ‘safe haven’ & will provide you with encouragement & motivation.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>