<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <nav class="navbar bg-primary text-white">
                    <h5 class="mt-3 ml-3 card-title text-uppercase">Administration Center
                    </h5>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <!-- <div class="card card-user"> -->
            <div class="card card-user bg-hr text-white">

                <div class="image">
                    <img src="./assets/img/bg/tobias-rademacher-iLftQa2byYU-unsplash.jpg" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <img class="avatar border-gray" src="{{user.avatar}}" alt="...">
                        <h5 class="title">{{ user.fullName }}</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <ng-container *ngFor="let menuItem of menuItems">
                    <div *ngIf="menuItem.link" [routerLink]="menuItem.disabled ? [] : [menuItem.path]" class="col-12"
                        [ngClass]="{'disabled': menuItem.disabled}">
                        <div class="card bg-hr shadow">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0 heading-title"
                                            [ngClass]="menuItem.disabled ? 'text-muted' : 'text-primary'">
                                            <i class="{{menuItem.icon}}"></i> &nbsp; {{menuItem.title}}
                                        </h3>
                                        <p class="text-white" [ngClass]="{'text-muted': menuItem.disabled}">
                                            {{menuItem.description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!menuItem.link" (click)="openModal(menuItem.disabled ? '' : menuItem.path)"
                        class="col-12" [ngClass]="{'disabled': menuItem.disabled}">
                        <div class="card bg-hr shadow">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0 heading-title"
                                            [ngClass]="menuItem.disabled ? 'text-muted' : 'text-primary'">
                                            <i class="{{menuItem.icon}}"></i> &nbsp; {{menuItem.title}}
                                        </h3>
                                        <p class="text-white" [ngClass]="{'text-muted': menuItem.disabled}">
                                            {{menuItem.description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- <div (click)="initiateSystem()" class="col-12">
                    <div class="card bg-hr shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0 heading-title text-primary">
                                        <i class="fas fa-play-circle"></i> &nbsp; Initiate System
                                    </h3>
                                    <p class="text-white">
                                        Initiate System for the first time!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>