@media only screen and (min-width: 651px) {
    .notification-dropdown {
       min-width: 450px;
     } 
 }
 
 @media only screen and (min-width: 490px) and (max-width: 650px) {
      .notification-dropdown {
       min-width: 450px;
       margin: 0px -80px;
       } 
 }
 
 @media only screen and (max-width: 489px) {
    .notification-dropdown {
       min-width: 300px;
       margin: 0px -90px;
     } 
 }

 .img-class{
   width:70px;
   height:10%
 }
 