<!-- <nav #navbar class="navbar navbar-expand-lg navbar-absolute" -->
  <nav #navbar class="navbar navbar-expand-lg"
  [ngClass]="{ 'bg-white': open === true , 'navbar-transparent': open === false}">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-minimize">
            <a [routerLink]="['/challenge-view-list']" class="img-class">
              <img class="img-class" src="./assets/img/Airshare_mini.png" /></a>
      </div>
      <div class="nav-item fa-2x font-weight-bold" [routerLink]="['/challenge-view-list']" >Sharecom</div>
<!--       <div class="logo">

        <a [routerLink]="['/dashboard']" class="simple-text logo-mini">
          <div class="logo-image-small">
             <img src="./assets/img/Airshare_mini.png" /> 
          </div>
        </a>
      
        <a class="simple-text logo-normal" [routerLink]="['/dashboard']">
          <div class="text-center">
             <img src="./assets/img/Airshare_logo.png" alt="..."> 
          </div>
        </a>
      </div> -->
      <div class="navbar-toggle" (click)="sidebarToggle()">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <!-- <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a> -->
    </div>

    <div class="text-center mr-3 d-none d-sm-block d-lg-none">
      <a routerLinkActive="active" [routerLink]="['/dashboard']">
        <img src="./assets/img/Airshare_logo.png"  style="width: 200px;">
      </a>
    </div>

    <div class="text-center mr-3 d-sm-none">
      <a routerLinkActive="active" [routerLink]="['/dashboard']">
        <img src="./assets/img/Airshare_logo.png" style="width: 120px;">
      </a>
    </div>

     <div class="form-group" [ngClass]="{ 'input-group-focus': focus === true }">
      <div class="input-group">
        <input #search type="text" style="padding: 8px; width: 50%; border-radius: 20px 0 0 20px;" class="form-control"
          placeholder="Search" (keyup)="SearchItems($event)" (blur)="focus = false" (focus)="focus = true" />
        <div class="input-group-append" style="border-radius: 0 20px 20px 0; background-color: blue;">
          <span class="input-group-text" style="background-color: blue; border: none; padding: 8px; border-radius: 0 20px 20px 0;">
            <i class="fas fa-search" style="color: white;"></i>
          </span>
        </div>
      </div>
    </div> 

    <div class="row justify-content-end mr-3">
      <div class="nav-item dropdown">
        <a class="nav-link" id="navbarMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="row align-items-center">
            &nbsp; <span>Manage Rentals</span>
            &nbsp; <i class="fas fa-caret-down"></i>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right border" aria-labelledby="navbarMenuLink">
          <a [routerLink]="['/create-challenege']" class="dropdown-item btn-magnify" >
            <i class="fas fa-plus-square"></i> &nbsp; New Advertisement</a>
        </div>
      </div>

      <div style="margin-right: 30px;"></div>

      <div class="nav-item dropdown">
        <a class="nav-link" id="navbarMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="row align-items-center">
            <ngx-avatar size="30" src="{{user.avatar}}"></ngx-avatar>
            &nbsp; <span> Hello {{ user.name }} </span>
            &nbsp; <i class="fas fa-caret-down"></i>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right border" aria-labelledby="navbarMenuLink">
          <a class="dropdown-item btn-magnify" [routerLink]="['/profile']">
            <i class="fas fa-user-alt"></i> &nbsp; My Profile
          </a>
          <div class="dropdown-divider d-none d-lg-block"></div>
          <a class="dropdown-item btn-magnify">
            <i class="nc-icon nc-user-run"></i> &nbsp; My Bookings
          </a>
          <div class="dropdown-divider d-none d-lg-block"></div>
          <a class="dropdown-item btn-magnify" [routerLink]="['/admin']">
            <i class="nc-icon nc-user-run"></i> &nbsp; Admin Dashboard
          </a>
<!--           <a class="dropdown-item btn-rotate" [routerLink]="['/profile-settings']">
            <i class="nc-icon nc-settings-gear-65"></i> &nbsp; Settings
          </a> -->
          <div class="dropdown-divider d-none d-lg-block"></div>
          <a class="dropdown-item btn-magnify" (click)="logout()">
            <i class="nc-icon nc-user-run"></i> &nbsp; Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>