<router-outlet></router-outlet>
<footer class="footer footer-black  footer-white">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <!-- <a href="https://www.template.com" target="_blank">Template</a> -->
          </li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          &copy; {{today | date: 'yyyy'}}, AirShare. All rights reserved.
        </span>
      </div>
    </div>
  </div>
</footer>