<div class="wrapper wrapper-full-page pb-5">
  <!-- <div class="full-page section-image" filter-color="black" data-image="./assets/img/bg/jeff-sheldon.jpg"> -->
  <div class="full-page section-image opacity-2" filter-color="blue"
    data-image="./assets/img/bg/chris-montgomery-smgTvepind4-unsplash.jpg">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose" -->
    <div class="content">
      <div class="container">
        <div class="text-center mb-5">
          <!-- <img src="./assets/img/Template_logo.png" alt="..."> -->
        </div>
        <!-- Page content -->
        <div class="col-lg-6 col-md-9 ml-auto mr-auto">
          <div class="card card-login">
            <div class="text-center">

              <div class="card-header">
                <h3 class="header text-center">FORGOT YOUR PASSWORD?</h3>
                <div *ngIf="!succeed" class="text-default text-center h6">Please enter the email address that you
                  used during registration.</div>
              </div>

              <div class="card-body">
                <form [formGroup]="loginform" (ngSubmit)="onSubmit()" role="form" class="needs-validation" novalidate>
                  <div *ngIf="!succeed" [ngClass]="{'input-group-focus':focus===true}" class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                      </div>
                      <input (focus)="focus=true" (blur)="focus=false" type="email" formControlName="email" class="form-control"
                        placeholder="Email" aria-describedby="inputGroupPrepend" required>
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="submitted && f.email.errors">
                      <i class="fas fa-exclamation-triangle"></i> &nbsp;
                      Email is required
                    </div>
                  </div>

                  <div *ngIf="showError" class="alert alert-danger text-white" role="alert">
                    <i class="fas fa-exclamation-triangle"></i> &nbsp;
                    Invalid credentials.
                  </div>

                  <div *ngIf="succeed">

                    <img width="250px" src="../assets/img/svg/undraw_mail_sent_re_0ofv.svg"
                      class="img-center img-fluid mb-5">
                    <br>
                    <div class="alert alert-success text-white" role="alert">
                      You have successfully requested a password reset for your Template account. <br> <br>
                      Please check your email address and follow the instructions.
                    </div>
                    <div class="text-center">
                      <button [routerLink]="['/login']" type="button" class="btn btn-primary btn-lg btn-block my-4">Go
                        to Login</button>
                    </div>
                  </div>

                  <div *ngIf="loading" class="text-center">
                    <div class="spinner-grow text-primary" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>

                  <div *ngIf="!succeed" class="text-center">
                    <!-- [disabled]="!loginform.valid" -->
                    <button [hidden]="loading" type="submit" class="btn btn-primary btn-lg btn-block my-4">Reset
                      Password</button>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>