<div class="main-content">
  <div class="row">
    <div class="col">
        <div class="card">
            <nav class="navbar bg-primary text-white">
                <h5 class="mt-3 card-title text-uppercase">Adverstisement
                </h5>
            </nav>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- <div [routerLink]="isProfileComplete ? ['/challenge-view-list'] : []" class="card card-stats btn btn-primary"> -->
      <div [routerLink]="['/challenge-view-list']" class="card card-stats btn btn-primary">
        <div class="card-body m-auto">
          <div class="row align-items-center text-center">
            <div class="col col-md-8">
              <div class="text-center">
                <div class="col">
                  <div class="icon-big">
                    <p class="h6">View Advertisements</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-10 col-sm-10 col-md-4 col-lg-3 m-auto mr-auto">
              <div class="text-center mb-5">
                <img src="./assets/img/svg/undraw_progress_indicator_re_4o4n.svg" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>