/* General Image Styling */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Flexbox-based solution: */
.images--flex {
width: 100%;
display: flex; 
}

.images--flex > * {
flex: 1;
}

.images--flex__inner {
display: flex;
flex-wrap: wrap;
align-items: stretch;
}

.images--flex__inner > * {
width: 50%;
height: 50%;
}

/* CSS Grid Solution: */
.images--grid {
display: grid;
width: 100%;
grid-template-rows: repeat(2, 1fr);
grid-template-columns: repeat(4, 1fr);
grid-auto-flow: dense;
position: relative;
}

.images--grid > *:first-child {
grid-column: span 2;
grid-row: span 2;
}

.images--grid {
  max-height: 450px; /* Set your desired maximum height here */
  overflow: hidden; /* Hide overflowing content */
}

.images--grid img {
  padding: 10px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  overflow: auto;
}

.popup-content {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.popup img {
  max-width: 100%;
  max-height: 90vh; /* Adjust the maximum height as needed */
}

.close {
  color: red;
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 35px;
  cursor: pointer;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.open-popup-button {
  width: 100%; /* Set the width to 100% to occupy the entire container width */
  background-color: white; /* Set the background color to white */
  padding: 10px; /* Add padding for better appearance */
  border: 2px solid black; /* Remove the border */
  border-radius: 10px; /* Add border radius for a rounded look */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.popup_button{
  width:0%;
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.scrollable-container {
  max-height: 50px; /* Adjust the max height as needed */
  overflow-y: auto;
}

/* Style for the datepicker buttons with !important */
.bi-calendar3 {
  background-color: transparent !important;
  border: none !important;
  color: black !important;
  font-weight: bold !important;
  cursor: pointer !important;
  transition: background-color 0.3s, color 0.3s !important;
}

/* Style the datepicker button on hover with !important */
.bi-calendar3:hover {
  background-color: #f0f0f0 !important;
  color: black !important;
}

/* Style the datepicker button when it's active or focused with !important */
.bi-calendar3:active,
.bi-calendar3:focus {
  outline: none !important;
  background-color: #e0e0e0 !important;
  color: black !important;
}

.review-section {
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.review-title {
  font-size: 1.25rem;
  margin: 0;
}

.review-likes {
  display: flex;
  align-items: center;
}

.like-count {
  margin-right: 5px;
  font-weight: bold;
}

.like-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.like-button:hover {
  text-decoration: underline;
}

.comment-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-right: 10px;
}

.comment-button {
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
}

.comment-button:hover {
  background-color: #0056b3;
}

.comment-list {
  display: flex;
  flex-direction: column;
}

.comment {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.testimonial {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.testimonial p {
  font-size: 16px;
}

.testimonial-author {
  text-align: right;
  font-style: italic;
}



