<div class="main-content">
  <h2  style="font-family: 'Geometric Sans Serif v1', sans-serif; font-weight: bold;padding-left: 17%;margin-bottom: 0;">{{ challenge.address }}</h2>
<div class="action-buttons text-right mt-3 mr-3">
<!--   <button class="btn btn-primary" (click)="activateChallenge(challenge)">
    {{ challenge.active ? 'Deactivate' : 'Activate' }} Advertisement
  </button>
  <button class="btn btn-danger" (click)="deleteChallenge(challenge)">Delete</button> -->
</div> 
<!--  <div class="row" >
    <div class="col-md-8">
      
      <div class="card mb-3">
        <div class="card-img-top">
          <img src="{{ challenge.image }}" alt="Advertisement Image" style=" width: 100%; height: 100%;"> 
        </div>
      </div>
    </div>
    <div class="col-md-4">
      
      <div class="d-flex flex-column">
        <div class="card mt-2 flex-grow-1">
          <div class="card-img-top">
            <img src="{{ challenge.smallerImage1 }}" alt="Small Image 1" style="width: 100%; height: auto;">
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-img-top">
            <img src="{{ challenge.smallerImage2 }}" alt="Small Image 2" style="width: 100%; height: auto;">
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-img-top">
            <img src="{{ challenge.smallerImage3 }}" alt="Small Image 3" style="width: 100%; height: auto;">
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-img-top">
            <img src="{{ challenge.smallerImage4 }}" alt="Small Image 4" style="width: 100%; height: auto;">
          </div>
        </div>
      </div>
    </div>
  </div>  -->

<!--  <div class="row" style="height: 500px">
    <div class="col-lg-4 col-md-12 mb-3 mb-lg-0">
      <img
        src="{{ challenge.image }}"
        class="w-100  shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-2 mb-lg-0" id="middle-column">
      <img
        src="{{ challenge.smallerImage2 }}"
        class="w-100  shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
  
      <img
        src="{{ challenge.smallerImage3 }}"
        class="w-100  shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="{{ challenge.smallerImage4 }}"
        class="w-100  shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-2">
        <div class="row">
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="images images--grid">
                <img src="{{ challenge.image }}" style="border-radius: 25px 0 0 25px;" alt="">
                <img src="{{ challenge.smallerImage1 }}" alt="">
                <img src="{{ challenge.smallerImage2 }}" style="border-radius: 0 25px 0 0;" alt="">
                <img src="{{ challenge.smallerImage3 }}" alt="">
                <img src="{{ challenge.smallerImage4 }}" style="border-radius: 0 0 25px 0;" alt="">
            </div>
            <div class="button-container">
                <button class="open-popup-button" (click)="open(content)"><img style="width: 40px;" src="./assets/img/svg/dots-nine-bold.svg"/> Show all Photos</button>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-5">
        <div class="image-container">
            <img class="image1" src="{{ challenge.smallerImage2 }}" alt="Image" style="max-height: 100%;" />
        </div>
    </div>
    <div class="col-md-7" style="max-height: 50%;">
        <div class="row" style="max-height: 30%;">
            <div class="col-md-6"><img src="{{ challenge.smallerImage2 }}"  alt="Image" style="max-height:45%;width: 100%;" /></div>
            <div class="col-md-6"><img  alt="Image"  /></div>
         </div>
         <div class="row">
            <div class="col-md-4"><img  alt="Image"  /></div>
            <div class="col-md-4"><img  alt="Image" /></div>
            <div class="col-md-4"><img  alt="Image"  /></div>
         </div>
    </div>
 </div> -->

<!--  <div class="grid-container">
    <div class="column">
      <img src="{{ challenge.smallerImage2 }}" alt="Image 1">
    </div>
    <div class="column">
      <img src="{{ challenge.smallerImage2 }}" alt="Image 2">
      <img src="{{ challenge.smallerImage2 }}" alt="Image 3">
    </div>
    <div class="column">
      <img src="{{ challenge.smallerImage2 }}" alt="Image 4">
      <img src="{{ challenge.smallerImage2 }}" alt="Image 5">
    </div>
  </div> -->


    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="card mt-6">
              <div class="card-body">
                <h2  style="font-family: 'Geometric Sans Serif v1', sans-serif; font-weight: bold;">{{ challenge.name }} rented by {{ challenge.creatorName }}</h2>
                <p class="card-text" style="color:gray"> Specification of the product · Product Category · Some details of product </p>
                <hr>
                <h2>Specification of Product</h2>
                <p>Specification 1</p>
                <p>Specification 2</p>
                <p>Specification 3</p>
                <hr>
                <p>{{ challenge.abstract }}</p>
                <hr>
                <br>
                <h2> What we are offering</h2>
                <div class="row">
                  <div class="card" style="border: solid;color:black;padding: 15px;margin-right: 10px;">
                    <div class="card-body">
                      <p>Specification 1</p>
                    </div>
                  </div>
                  <div class="card" style="border: solid;color:black;padding: 15px;margin-right: 10px;">
                    <div class="card-body">
                      <p>Specification 2</p>
                    </div>
                  </div>
                  <div class="card" style="border: solid;color:black;padding: 15px;margin-right: 10px;">
                    <div class="card-body">
                      <p>Specification 3</p>
                    </div>
                  </div>
                </div>
                <br>
                <hr>
                <br>
                <h2> What are the product details</h2>
                <div class="row">
                  <div class="col-md-5">
                    <p><i class="fab fa-trello"></i>  Product details 1</p>
                    <p><i class="fab fa-trello"></i>  Product details 1</p>
                    <p><i class="fab fa-trello"></i>  Product details 1</p>
                    <p><i class="fab fa-trello"></i>  Product details 1</p>
                    <p><i class="fab fa-trello"></i>  Product details 1</p>
                  </div>
                  <div class="col-md-5">
                    <p><i class="fab fa-trello"></i>  Product details 1</p>
                    <p><i class="fab fa-trello"></i>  Product details 1</p>
                    <p><i class="fab fa-trello"></i>  Product details 1</p>
                    <p><i class="fab fa-trello"></i>  Product details 1</p>
                    <p><i class="fab fa-trello"></i>  Product details 1</p>
                  </div>
                </div>
                <br>
                <button class="open-popup-button">Show all Product details</button>
                <hr>
                <br>
                <h2>Booked Dates</h2>
                <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                </ngb-datepicker>
                      
                      <ng-template #t let-date let-focused="focused">
                        <span
                              class="custom-day"
                              [class.focused]="focused"
                              [class.range]="isRange(date)"
                              [class.faded]="isHovered(date) || isInside(date)"
                              (mouseenter)="hoveredDate = date"
                              (mouseleave)="hoveredDate = null"
                            >
                              {{ date.day }}
                        </span>
                      </ng-template>
                



                
                
                
                
                
                
                
<!--                 <p class="card-text" style="font-weight: bold;">{{ challenge.address }}</p>
                 <p class="card-text" style="font-weight: bold;">{{ challenge.abstract }}</p> 
                <p class="card-text" style="font-weight: bold;">
                  <i class="fas fa-calendar-day"></i> 
                  Open until {{ challenge.deadline }}
                </p>
                <p class="card-text" style="font-weight: bold;">
                  <i class="fas fa-user"></i>
                  Published by {{ challenge.creatorName }} {{ challenge.publishedAt }}
                </p> -->
              </div>
            </div>
          </div>
<!--           <div class="col-md-12">
            <div class="card mt-3">
              <div class="card-header" style="font-weight: bold;">
                Description
              </div>
              <div class="card-body">
                <p>{{ challenge.abstract }}</p>
              </div>
            </div>
          </div> -->
<!--           <div class="col-md-12">
            <div class="card mt-3">
              <div class="card-header" style="font-weight: bold;">
                Price
              </div>
              <div class="card-body">
                <p>€{{ challenge.overview }}</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-md-3" style="padding: 10px;">
        <div class="row">
          <div class="col-md-12">
            <div class="card" style="border: solid;color:black;">
              <div class="card-body">
                <p style="font-weight: bold;">€{{ challenge.overview }}/ Hour</p>
                <form class="row row-cols-sm-auto">
                  <div class="col-12">
                    <div class="dp-hidden position-absolute">
                      <div class="input-group">
                        <input
                          name="datepicker"
                          class="form-control"
                          ngbDatepicker
                          #datepicker="ngbDatepicker"
                          [autoClose]="'outside'"
                          (dateSelect)="onDateSelection($event)"
                          [displayMonths]="2"
                          [dayTemplate]="t"
                          outsideDays="hidden"
                          [startDate]="fromDate!"
                          tabindex="-1"
                        />
                        <ng-template #t let-date let-focused="focused">
                          <span
                            class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null"
                          >
                            {{ date.day }}
                          </span>
                        </ng-template>
                      </div>
                    </div>
                    <div class="input-group">
                      <input
                        #dpFromDate
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dpFromDate"
                        [value]="formatter.format(fromDate)"
                        (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                      />
                      <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button"></button>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="input-group">
                      <input
                        #dpToDate
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dpToDate"
                        [value]="formatter.format(toDate)"
                        (input)="toDate = validateInput(toDate, dpToDate.value)"
                      />
                      <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button"></button>
                    </div>
                  </div>
                </form>
                <hr />
<!--                 <pre>From date model: {{toDate.day}} - {{ fromDate.day }}</pre>
                <pre>To date model: {{ toDate | json }}</pre> 
                <pre>diffofdays: {{ differenceoftime }}</pre> -->
                <div class="input-group mt-3">
                  <button (click)="PaymentPage()" class="btn btn-primary btn-lg btn-block">Reserve Now</button>
                </div>
                <p>You wont be chargerd yet</p>
                <div class="row">
                  <div class="col-md-12">
                    <p>€{{ challenge.overview }} * {{differenceoftime}} days _____________________________ € {{ challenge.overview * differenceoftime }} </p>
                    <p>ShareCom Charges ______________________ € {{ servicecharge }} </p>
                    <hr>
                    <p>Total ____________________________________ € {{ challenge.overview * differenceoftime + servicecharge}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr>
        <br>
        <h2>Comments and Reviews</h2>
        <button class="open-popup-button"  [routerLink]="['/add-posts']" style="width: 100px;">Add Comment Review</button>
        <div class="comment">
          <section  *ngIf="testimonials.length > 0">
            <h2>Testimonials</h2>
            <div *ngFor="let testimonial of testimonials">
              <div class="testimonial">
                <p>{{ testimonial.content }}</p>
                <p class="testimonial-author">{{ testimonial.name }}</p>
              </div>
            </div>
          </section>
          <div class="comment-header">
            <img src="user-avatar.jpg" alt="User Avatar">
            <div class="user-info">
              <h4>{{ challenge.creatorName }}</h4>
            </div>
          </div>
          <div class="comment-body">
            <p>This is a great product. I rented it for a week, and it served my needs perfectly.</p>
            <!-- You can add more content or styling here as needed -->
          </div>
        </div>
        <button class="open-popup-button">Load More Comments</button>
        <hr>
        <h2>Rented By {{ challenge.creatorName }}</h2>
        <p class="card-text" style="color:gray"> Joined in {{challenge.publishedAt}} </p>
        <br>
        <h4>{{ challenge.creatorName }} are superRenters</h4>
        <p>Superhosts are experienced, highly rated hosts who are</p>
        <p>committed to providing great stays for guests.
        <p>Response rate: 100%</p>
        <p>Response time: within a few hours</p>
        <br>
        <button class="open-popup-button" style="width: 100px;">Contact Host</button>
      </div>
      <div class="col-md-2"></div>
    </div>


    <ng-template  #content let-modal>
        <div class="modal-header">
            <button type="button" class="close"
                    aria-label="Close" (click)=
                    "modal.dismiss('Cross click')">
    
                <span aria-hidden="true">
                    ×
                </span>
            </button>
        </div>
        <div class="modal-body" style="width: 100%; margin: 0 auto;">
            <!-- Adjust the width percentage as needed -->
            <form>
                <div class="form-group">
                    <img src="{{ challenge.image }}"  alt="">
                    <img src="{{ challenge.smallerImage1 }}" alt="">
                    <img src="{{ challenge.smallerImage2 }}"  alt="">
                    <img src="{{ challenge.smallerImage3 }}" alt="">
                    <img src="{{ challenge.smallerImage4 }}"  alt="">
                </div>
            </form>
        </div>
    </ng-template>
    
    

    

  </div>
  