<div class="wrapper wrapper-full-page pb-5">
    <div class="full-page section-image" filter-color="black"
        data-image="./assets/img/bg/jason-goodman-Oalh2MojUuk-unsplash.jpg">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose" -->
        <div class="content">
            <div class="container" style="margin-top: -80px;">
                <div class="text-center mb-5">
                    <!-- <img src="./assets/img/Template_logo.png" alt="..."> -->
                </div>
                <div class="main-content">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <div class="ml-auto mr-auto text-center">
                                        <h4 class="card-title">
                                            ABOUT US
                                        </h4>
                                        <p class="col-8 ml-auto mr-auto text-center">Use this landing page template to
                                            run a campaign or test an assumption. <br>
                                            Make sure that visitors see a strong “call to action” upon arriving at
                                            this page.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>