<div class="main-content">
<!--     <div class="header pb-7 pt-4 pt-lg-6 d-flex align-items-center">
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col">
                    <h1 class="display-1 text-black" style="font-size:6vw;">MEMBERSHIP</h1>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container-fluid mt--7 pb-3">

        <div *ngIf="loading" class="card card-plain card-body col text-center align-items-center">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <ng-container *ngIf="!loading">

            <div *ngIf="!isAccountConnected" class="col-md-6 card bg-hr">
                <div class="card-body">
                    <h1 class="title text-black">Connect your account to Stripe</h1>
                    <p class="text-black">We use Stripe to make sure you get paid on time and keep your personal and
                        bank
                        details secure.</p>
                    <a class="btn btn-block btn-primary" [href]="StripeAccountURL">Set up payments on Stripe</a>

                </div>
            </div>

            <div *ngIf="stripeResponse.isThereASubscription" class="col card bg-hr">
                <div class="card-body">
                    <h1 class="title text-black">Membership Status:
                        &nbsp; <span
                            class="badge badge-pill badge-{{ stripeResponse.status == 'active' ? 'success' : stripeResponse.status == 'past_due' ? 'warning' : 'danger' }}">
                            {{ stripeResponse ? stripeResponse.status : 'error' }}
                        </span>
                    </h1>

                    <p *ngIf="stripeResponse.cancel_at_period_end" class="text-black">
                        <strong> You have canceled your membership and it will expire on
                            {{ stripeResponse.expires_at}}</strong>
                    </p>

                    <p *ngIf="!stripeResponse.cancel_at_period_end" class="text-black">
                        <strong>Your membership renews on {{ stripeResponse.expires_at }}</strong>
                    </p>

                    <div *ngIf="loadingSecondary" class="card card-plain card-body col text-center align-items-center">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <button *ngIf="stripeResponse.cancel_at_period_end" class="btn btn-block btn-success btn-link"
                        (click)="stripeReativateSubscription()">
                        <i class="fas fa-check"></i> &nbsp; Reactivate Membership
                    </button>

                    <button *ngIf="!stripeResponse.cancel_at_period_end" class="btn btn-block btn-danger btn-link"
                        (click)="stripeCancelSubscription()">
                        <i class="fas fa-times"></i> &nbsp; Cancel Membership
                    </button>

                </div>
            </div>

<!--             <div *ngIf="!stripeResponse.isThereASubscription" class="col card bg-hr">
                <div class="card-body">
                    <h1 class="title text-black"> You have not subscribed to any membership plan
                    </h1>
                    <p class="text-black"> Cardio Flourish Pro is a monthly membership that gives you access to all of
                        our online content and resources. You can cancel at any time. Stripe is our payment processor
                        and we use it to make sure that your personal and bank details secure.
                    </p>
                    <a class="btn btn-block btn-primary" [href]="stripeResponse.payment_link"> <i
                            class="fas fa-check"></i> &nbsp;
                        Subscribe to Membership
                    </a>

                </div>
            </div> -->

            <!-- 
            <app-my-stripe *ngIf="isAccountConnected" class="col-12 card bg-hr">
            </app-my-stripe> -->
        </ng-container>
        <!-- <div class="row">
            <ng-container *ngFor="let menuItem of menuItems">
                <div *ngIf="menuItem.path" [routerLink]="menuItem.disabled ? [] : [menuItem.path]"
                    class="col-md-6 order-xl-1 mb-1 mb-md-0" [ngClass]="{'disabled': menuItem.disabled}">
                    <div class="card bg-hr shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0 heading-title"
                                        [ngClass]="menuItem.disabled ? 'text-muted' : 'text-primary'">
                                        <i class="{{menuItem.icon}}"></i> &nbsp; {{menuItem.title}}
                                    </h3>
                                    <p class="text-black" [ngClass]="{'text-muted': menuItem.disabled}">
                                        {{menuItem.description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a *ngIf="menuItem.link" [href]="menuItem.link" target="_blank" class="col-md-6 order-xl-1 mb-1 mb-md-0"
                    [ngClass]="{'disabled': menuItem.disabled}">
                    <div class="card bg-hr shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0 heading-title"
                                        [ngClass]="menuItem.disabled ? 'text-muted' : 'text-primary'"> <i
                                            class="{{menuItem.icon}}"></i> {{menuItem.title}}</h3>
                                    <div class="h4 text-black" [ngClass]="{'text-muted': menuItem.disabled}">
                                        {{menuItem.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </ng-container>
        </div> -->

        <!-- <button *ngIf="stripeResponse.isThereASubscription" class="btn btn-block btn-danger btn-link"
            (click)="stripeCancelSubscription()">
            <i class="fas fa-times"></i> &nbsp; Cancel Membership
        </button> -->

        <!-- <a *ngIf="stripeResponse.isThereASubscription" class="btn btn-block btn-info btn-link"
            href="https://billing.stripe.com/p/login/test_dR66oGdHMcRCfOoeUU">
            <i class="fas fa-euro-sign"></i> &nbsp; Manage Your Sripe Subscriptions
        </a> -->
    </div>
</div>