<div class="wrapper wrapper-full-page pb-5">
  <!-- <div class="full-page register-page section-image" filter-color="black"
    data-image="./assets/img/bg/jan-sendereks.jpg"> -->
  <div class="full-page register-page " filter-color="black">
        <!-- data-image="./assets/img/bg/product-school-XZkk5xT8Xrk-unsplash.jpg" -->
    <div class="content">
      <div class="container">
        <!-- <div class="text-center mb-5">
          <img src="./assets/img/XXXXX_logo.png" alt="...">
        </div> -->
        <div class="card">
          <div class="row">
            <div class="col-lg-6 col-md-6 m-auto">
              <div class="card-signup text-center">
                <div class="card-header">
                  <h4 class="card-title">Create Account </h4>
                  <!-- //TODO CHECK REGISTER only with EMAIL AND PASSWORD -->
                  <!-- <h5> Welcome to XXXXX, simply create your email and password to begin
                  </h5> -->
                </div>
                <div class="card-body">
                  <form *ngIf="!success" class="form" [formGroup]="registerform" (ngSubmit)="onSubmit()" role="form"
                    method="" action="">
                    <div class="row">
                      <div class="form-group mb-3 col-md-6 input-group" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-single-02"></i>
                          </span>
                        </div>
                        <input type="text" formControlName="name" class="form-control" placeholder="Name"
                          (focus)="focus=true" (blur)="focus=false" required>
                        <div class="invalid-feedback d-block" *ngIf="submitted && f.name.errors">
                          <i class="fas fa-exclamation-triangle"></i> &nbsp;
                          Name is required
                        </div>
                      </div>
                      <div class="form-group mb-3 col-md-6 input-group" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-circle-10"></i>
                          </span>
                        </div>
                        <input type="text" formControlName="surname" class="form-control" placeholder="Surname"
                          (focus)="focus1=true" (blur)="focus1=false" required>
                        <div class="invalid-feedback d-block" *ngIf="submitted && f.surname.errors">
                          <i class="fas fa-exclamation-triangle"></i> &nbsp;
                          Surname is required
                        </div>
                      </div>
                    </div>


                    <div class="input-group" [ngClass]="{'input-group-focus':focus6===true}">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="nc-icon nc-email-85"></i>
                        </span>
                      </div>
                      <input type="email" formControlName="email" class="form-control" placeholder="Email"
                        (focus)="focus6=true" (blur)="focus6=false" required>
                      <div class="invalid-feedback d-block" *ngIf="submitted && f.email.errors">
                        <i class="fas fa-exclamation-triangle"></i> &nbsp;
                        Email is required
                      </div>
                    </div>
                    <div [ngClass]="{'input-group-focus':focus7===true}">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="nc-icon nc-key-25"></i>
                          </span>
                        </div>
                        <input [type]="hide ? 'password' : 'text'" formControlName="password"
                          class="form-control form-control-user" placeholder="Password" name="password"
                          (focus)="focus7=true" (blur)="focus7=false" required>
                        <div class="input-group-append text-center">
                          <a type="button" class="btn-sm text-muted" placement="bottom" ngbPopover="Passwords should be at least 8 characters long and contain one number,
                            one character and one special character.">
                            <i class="fas fa-info-circle"></i>
                          </a>
                          <a type="button" class="btn-sm btn-primary" (click)="hide = !hide">
                            <i *ngIf="!hide" class="fas fa-eye fa-2x text-white"></i>
                            <i *ngIf="hide" class="fas fa-eye-slash fa-2x text-white"></i>
                          </a>
                        </div>
                      </div>
                      <div class="invalid-feedback d-block" *ngIf="submitted && f.password.errors"
                        name="passwordrequired">
                        <i class="fas fa-exclamation-triangle"></i> &nbsp;
                        Password is required
                      </div>
                    </div>
                    <div class="input-group" [ngClass]="{'input-group-focus':focus8===true}">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="nc-icon nc-key-25"></i>
                        </span>
                      </div>
                      <input [type]="hide ? 'password' : 'text'" formControlName="confirmpassword"
                        class="form-control form-control-user" placeholder="Confirm Password" name="confirmpassword"
                        (focus)="focus8=true" (blur)="focus8=false" required>
                      <div class="invalid-feedback d-block" *ngIf="submitted && f.confirmpassword.errors"
                        name="passwordrequired">
                        <i class="fas fa-exclamation-triangle"></i> &nbsp;
                        Confirm Password is required
                      </div>
                      <div class="invalid-feedback d-block"
                        *ngIf="submitted && f.password.errors && f.password.value != ''">
                        <i class="fas fa-exclamation-triangle"></i> &nbsp;
                        Passwords should be at least 8 characters long and contain one number,
                        one character and one special character.
                      </div>
                      <div class="invalid-feedback d-block"
                        *ngIf="submitted && registerform.hasError('mismatchedPasswords')">
                        <i class="fas fa-exclamation-triangle"></i> &nbsp;
                        The passwords do not match.
                      </div>
                    </div>

                    <div class="form-check text-left">
                      <label class="form-check-label">
                        <input formControlName="checked" type="checkbox" class="custom-control-input" id="customCheck">
                        <span class="form-check-sign"></span>
                        I am 18 years old or older and I agree
                        to the <a (click)="seeTerms()" target="_blank"><b>Terms of Use</b></a> and <a
                          (click)="seePrivacy()" target="_blank"><b>Privacy Policies</b></a> in order to use this
                        application and Template services. </label>
                    </div>

                    <div *ngIf="submitted && f.checked.errors" class="alert text-white alert-danger" role="alert">
                      <i class="fas fa-exclamation-triangle"></i> &nbsp;
                      Agreeing to the Terms of Use and Privacy Policies is required.
                    </div>

                    <div *ngIf="showError" class="alert text-white alert-danger" role="alert">
                      <i class="fas fa-exclamation-triangle"></i> &nbsp;
                      An error has occorred. Please, try again.
                    </div>

                    <div *ngIf="loading" class="text-center">
                      <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>

                    <div class="text-center">
                      <button [hidden]="loading || success" type="submit" class="btn btn-default btn-lg btn-block my-4">
                        Create account</button>
                    </div>
                  </form>

                  <div *ngIf="success" class="alert text-dark" role="alert">
                    <img width="300px" src="./assets/img/svg/undraw_mail_sent_re_0ofv.svg" class="img-center">
                    <br> <br>
                    You have successfully created a ShareCom account. After you go throught our in-app identity
                    verification you will have access to all of our services. You will also need to validate your
                    email address. <br> <br>
                    <div class="alert alert-info text-white" role="alert">
                      <i class="fas fa-exclamation-triangle"></i> &nbsp;
                      Your email has not been verified. A verification link was sent to the email address you used
                      to create the account.
                    </div>
                    <div class="text-center">
                      <button [routerLink]="['/login']" type="button" class="btn btn-primary btn-lg btn-block my-4">
                        Login to your account</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>